/* Reset rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul, ol, menu {
    list-style: none;
}

.footer--justify-sb {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: #ff6900;
    color: white;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
}

header .container {
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
}

header a {
    color: white;
}

header .header__logo {
    height: 30px;
}

.container {
    width: 1380px;
    margin: 0 auto;
}

.header__category-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

header .header__actions-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

header .header__actions-box svg {
    height: 16px;
}

main {
    padding-top: 80px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0;
    gap: 20px;
}

.card {
    position: relative;
    width: calc((100% - 40px) /3 );
    z-index: 1;
}

.card__image img {
    width: 100%;
}

.card__image--default {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.card__img--hidden {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.card__image:hover .card__img--hidden {
    z-index: 2;
}

.card__discount {
    background-color: red;
}

.card__article-name {
    text-transform: uppercase;
}

.card__sostenibility {
    background-color: green;
}

.card__hearth {
    padding: 16px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    z-index: 3;
}

.card__label {
    padding: 8px 10px;
    color: white;
    font-size: 12px;
    display: inline-block;
    font-weight: 800;
}

.card__label-box {
    position: absolute;
    left: 0;
    bottom: 100px;
    z-index: 3;
}

.card__price {
    color: red;
}

.card__old-price {
    text-decoration: line-through;
    color: black;
}

.hide-label {
    position: relative;
    z-index: -1;
}

.hide-label--only-discont {
    position: absolute;
    left: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 32px 0;
}

.footer__info {
    display: flex;
    gap: 10px;
    padding-top: 16px;
}

.footer__info a {
    color: white;
}

.socials {
    display: flex;
    gap: 10px;
}

footer img {
    height: 24px;
}